{% load static %}
<!doctype html>
<html>
<head>

    <title>Real Time Post</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>
<body>

      <!-- CHALLENNGE 2-->
   <CENTER><h2>G-JEO'S BLOG</h2>

    <div class="call-out-container" style="background-color:#e6ffff;border-radius:10px;height:400px;overflow-y:auto">
        {% block content %}
       <div class="call-out-container" style="padding:1px;width:57%;height:auto;text-align:justify">
         {% for posts in posts reversed %}
           <a href="/post/{{posts.id}}" style="text-decoration:none;color:black">
             <div class="call-out">
             <h3>{{posts.title}}</h3>
             <h6>{{posts.create_at}}</h6>
             <p>{{posts.body|truncatewords:30}}</p><hr style="border:10px solid gray">

             </div>
             </a>
        {% endfor %}
    </div>
        </CENTER>

{% endblock %}



</body>
</html>
